body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Odin';
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

.bg-image {
  display: flex;
  flex: 1;
  background-image: url("/assets/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 175px;
  padding: 20px 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Odin';
  color: white;
  font-size: 150px;
  gap: 10px;
}

.logo-container .logo {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.image-container {
  height: 100%;
  margin: 0;
  display: flex;
}

.container-top {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: bold;
  padding: 125px 500px 30px 50px;
}

.form-container {
  background-color: white;
  box-shadow: 0 6px 4px -4px lightgrey;
  padding: 20px 600px 20px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.container-text {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.form-top {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-middle {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-bottom {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.fname-container,
.lname-container,
.email-container,
.pnumber-container,
.pword-container,
.pwordconfirm-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.fname-container,
.email-container,
.pword-container {
  padding-right: 20px;
}

input {
  min-width: 200px;
  padding: 0 10px;
  width: 100%;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

input:hover {
  border-color: blue;
  box-shadow: 2px 2px 5px grey;
}

.container-bottom {
  display: flex;
  flex: 1;
  padding: 50px 50px;
}

.white-bg {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: whitesmoke;
  height: 100vh;
  width: 70vw;
}

#bgimage {
  position: absolute;
  z-index: 0;
  height: 100vh;
}

.form-submit {
  font-size: 20px;
}

input[type=submit] {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #689f38;
  font-size: 20px;
}

form:invalid:focus {
  border-color: red;
}

a {
  text-decoration: none;
  color: #689f38;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
}
